{% include "_header.html" %}

{% block content %}
<hr>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm box-summary">
                <p class="text-start fs-5">Total </p>
            </div>
            <div class="col-sm box-summary">
                <p class="text-start fs-5">Total</p>
            </div>
            <div class="col-sm box-summary">
                <p class="text-start fs-5">Total Online</p>
            </div>
            <div class="col-sm box-summary">
                <p class="text-start fs-5">Total</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <div class="row">
                    <div class="col-sm col-chart">Graph <button type="button" class="btn btn-sm"><i class="bi bi-printer-fill"></i></button>
                        <canvas id="chart" width="700" height="150"></canvas>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm "></div>
                    <div class="col-sm "></div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% include "_footer.html" %}