:root {
    --bg-color: #dde9e6;
    --bg-faint-color: #b0c4bf;
    --theme-color: #465a55;
    --hover-color: #7aa59a;
    --text-color: #ffffff;
    --text-hover: #5cc5a9;
    --box-shadow-style: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color) !important;
}

.container-login {
    width: 100%;
    height: 100%;
    color: var(--theme-color);
    box-shadow: var(--box-shadow-style);
    background-color: #ffffff;
    margin: 10px;

    hr {
        border-top: 1px solid var(--theme-color) !important;
    }

    .col-sm-6 {
        background-color: var(--hover-color);
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 310px;
            max-width: fit-content;
        }
    }

    .col-sm-4 {
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 25px;

    }

}



.section-login {
    display: flex;
    justify-content: center;
    margin-top: 100px
}

.btn-login {
    background-color: #4f796e;
    color: #fff;
}

.btn-login:hover {
    background-color: #7aa59a;
    color: #fff;
}

.messages {
    top: 5%;
    left: 40%;
}